<footer class="text-gray-800 p-8" style="background-color: rgba(234, 218, 0, 1)">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-8">
      <!-- Columna 1 -->
      <div>
        <h2 class="text-lg font-bold mb-4">Cascabeles</h2>
        <p class="mb-4">Nuestras redes<br>para poder<br>ayudarte</p>
        <div class="flex space-x-4">
          <a href="#" class="text-gray-800 hover:text-gray-600">
            <i class="fab fa-facebook text-2xl"></i>
          </a>
          <a href="#" class="text-gray-800 hover:text-gray-600">
            <i class="fab fa-instagram text-2xl"></i>
          </a>
          <a href="#" class="text-gray-800 hover:text-gray-600">
            <i class="fab fa-twitter text-2xl"></i>
          </a>
        </div>
      </div>
      <!-- Columna 2 -->
      <div>
        <h2 class="text-lg font-bold mb-4">Información</h2>
        <ul class="space-y-2">
          <li><a href="#" class="hover:text-gray-600">Premios</a></li>
          <li><a href="#" class="hover:text-gray-600">Sobre Nosotros</a></li>
          <li><a href="#" class="hover:text-gray-600">Video</a></li>
        </ul>
      </div>
      <!-- Columna 3 -->
      <div>
        <h2 class="text-lg font-bold mb-4">Contacto</h2>
        <ul class="space-y-2">
          <li class="hover:text-gray-600">+51 9432432</li>
          <li class="hover:text-gray-600">vors&commat;gmail.com</li>
          <li class="hover:text-gray-600">Ilo - Ovalo - A15</li>
        </ul>
      </div>
    </div>
    <!-- Pie de página -->
    <div class="mt-8 text-center text-sm">
      © 2025 Todos los derechos reservados
    </div>
  </footer>
  