<section class="video text-center flex flex-col items-center gap-6 min-h-screen">
  <!-- Titulo -->
  <div class=" py-4">
    <h2 class="text-4xl font-bold mb-0 text-gray-800">¡No te pierdas el video!</h2>
  </div>
  <!-- Video de TikTok -->
  <div class="p-4  rounded-lg shadow-md" style="background-color: rgba(234, 218, 0, 1)">
    <div class="tiktok-video-container">
      <!-- Aquí va el código del TikTok -->
      <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@topgamesperuoficial/video/7183450177070533893"
      data-video-id="7183450177070533893" style="max-width: 605px;min-width: 325px;">
      <section> <a target="_blank" title="@topgamesperuoficial"
          href="https://www.tiktok.com/@topgamesperuoficial?refer=embed">&commat;topgamesperuoficial</a> ¡Gracias por
        acompañarnos en este año! 🎆 Este es solo el primer sorteo, en los siguientes se vendrán mejores cosas 🤩 <a
          title="gamestick" target="_blank" href="https://www.tiktok.com/tag/gamestick?refer=embed">#gamestick</a> <a
          title="gamesticklite4khd" target="_blank"
          href="https://www.tiktok.com/tag/gamesticklite4khd?refer=embed">#gamesticklite4khd</a> <a title="mandops4"
          target="_blank" href="https://www.tiktok.com/tag/mandops4?refer=embed">#mandops4</a> <a title="mandops5"
          target="_blank" href="https://www.tiktok.com/tag/mandops5?refer=embed">#mandops5</a> <a title="ps4"
          target="_blank" href="https://www.tiktok.com/tag/ps4?refer=embed">#ps4</a> <a title="ps5" target="_blank"
          href="https://www.tiktok.com/tag/ps5?refer=embed">#ps5</a> <a title="playstation" target="_blank"
          href="https://www.tiktok.com/tag/playstation?refer=embed">#playstation</a> <a title="nintendoswitch"
          target="_blank" href="https://www.tiktok.com/tag/nintendoswitch?refer=embed">#nintendoswitch</a> <a
          title="nintendoswitcholed" target="_blank"
          href="https://www.tiktok.com/tag/nintendoswitcholed?refer=embed">#nintendoswitcholed</a> <a
          title="nintendoswitchlite" target="_blank"
          href="https://www.tiktok.com/tag/nintendoswitchlite?refer=embed">#nintendoswitchlite</a> <a
          title="juegosdeswitch" target="_blank"
          href="https://www.tiktok.com/tag/juegosdeswitch?refer=embed">#juegosdeswitch</a> <a title="sorteo"
          target="_blank" href="https://www.tiktok.com/tag/sorteo?refer=embed">#sorteo</a> <a title="premios"
          target="_blank" href="https://www.tiktok.com/tag/premios?refer=embed">#premios</a> <a title="sorteoperu"
          target="_blank" href="https://www.tiktok.com/tag/sorteoperu?refer=embed">#sorteoperu</a> <a title="gaming"
          target="_blank" href="https://www.tiktok.com/tag/gaming?refer=embed">#gaming</a> <a title="gamer"
          target="_blank" href="https://www.tiktok.com/tag/gamer?refer=embed">#gamer</a> <a title="polvosazules"
          target="_blank" href="https://www.tiktok.com/tag/polvosazules?refer=embed">#polvosazules</a> <a title="lima"
          target="_blank" href="https://www.tiktok.com/tag/lima?refer=embed">#lima</a> <a title="peru" target="_blank"
          href="https://www.tiktok.com/tag/peru?refer=embed">#peru</a> <a title="enviosperu" target="_blank"
          href="https://www.tiktok.com/tag/enviosperu?refer=embed">#enviosperu</a> <a target="_blank"
          title="♬ Happy &#38; Pop songs - PeriTune"
          href="https://www.tiktok.com/music/Happy-Pop-songs-6817156980558301186?refer=embed">♬ Happy &#38; Pop songs -
          PeriTune</a> </section>
    </blockquote>
    <script async src="https://www.tiktok.com/embed.js"></script>
    </div>
  </div>

  <!-- Texto y botón que redirige a sección de participar -->
  <div>
    <button class="px-6 py-3 text-black bg-white font-semibold rounded-lg hover:bg-gray-700 transition flex items-center">
      Participar 
      <img src="icons/flecha.png" alt="Flecha" class="ml-2 w-5 h-5">
    </button>
  </div>
</section>


<!--     <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@topgamesperuoficial/video/7183450177070533893"
      data-video-id="7183450177070533893" style="max-width: 605px;min-width: 325px;">
      <section> <a target="_blank" title="@topgamesperuoficial"
          href="https://www.tiktok.com/@topgamesperuoficial?refer=embed">&commat;topgamesperuoficial</a> ¡Gracias por
        acompañarnos en este año! 🎆 Este es solo el primer sorteo, en los siguientes se vendrán mejores cosas 🤩 <a
          title="gamestick" target="_blank" href="https://www.tiktok.com/tag/gamestick?refer=embed">#gamestick</a> <a
          title="gamesticklite4khd" target="_blank"
          href="https://www.tiktok.com/tag/gamesticklite4khd?refer=embed">#gamesticklite4khd</a> <a title="mandops4"
          target="_blank" href="https://www.tiktok.com/tag/mandops4?refer=embed">#mandops4</a> <a title="mandops5"
          target="_blank" href="https://www.tiktok.com/tag/mandops5?refer=embed">#mandops5</a> <a title="ps4"
          target="_blank" href="https://www.tiktok.com/tag/ps4?refer=embed">#ps4</a> <a title="ps5" target="_blank"
          href="https://www.tiktok.com/tag/ps5?refer=embed">#ps5</a> <a title="playstation" target="_blank"
          href="https://www.tiktok.com/tag/playstation?refer=embed">#playstation</a> <a title="nintendoswitch"
          target="_blank" href="https://www.tiktok.com/tag/nintendoswitch?refer=embed">#nintendoswitch</a> <a
          title="nintendoswitcholed" target="_blank"
          href="https://www.tiktok.com/tag/nintendoswitcholed?refer=embed">#nintendoswitcholed</a> <a
          title="nintendoswitchlite" target="_blank"
          href="https://www.tiktok.com/tag/nintendoswitchlite?refer=embed">#nintendoswitchlite</a> <a
          title="juegosdeswitch" target="_blank"
          href="https://www.tiktok.com/tag/juegosdeswitch?refer=embed">#juegosdeswitch</a> <a title="sorteo"
          target="_blank" href="https://www.tiktok.com/tag/sorteo?refer=embed">#sorteo</a> <a title="premios"
          target="_blank" href="https://www.tiktok.com/tag/premios?refer=embed">#premios</a> <a title="sorteoperu"
          target="_blank" href="https://www.tiktok.com/tag/sorteoperu?refer=embed">#sorteoperu</a> <a title="gaming"
          target="_blank" href="https://www.tiktok.com/tag/gaming?refer=embed">#gaming</a> <a title="gamer"
          target="_blank" href="https://www.tiktok.com/tag/gamer?refer=embed">#gamer</a> <a title="polvosazules"
          target="_blank" href="https://www.tiktok.com/tag/polvosazules?refer=embed">#polvosazules</a> <a title="lima"
          target="_blank" href="https://www.tiktok.com/tag/lima?refer=embed">#lima</a> <a title="peru" target="_blank"
          href="https://www.tiktok.com/tag/peru?refer=embed">#peru</a> <a title="enviosperu" target="_blank"
          href="https://www.tiktok.com/tag/enviosperu?refer=embed">#enviosperu</a> <a target="_blank"
          title="♬ Happy &#38; Pop songs - PeriTune"
          href="https://www.tiktok.com/music/Happy-Pop-songs-6817156980558301186?refer=embed">♬ Happy &#38; Pop songs -
          PeriTune</a> </section>
    </blockquote>
    <script async src="https://www.tiktok.com/embed.js"></script> -->