<app-header></app-header>
<main>
    <!-- Premios Section -->
    <section id="premios" class="min-h-screen bg-white flex flex-col justify-center items-center">
        <div class="container mx-auto px-4 text-center">
            <app-premio-mayor></app-premio-mayor>
            <app-premios></app-premios>
        </div>
    </section>

    <!-- Sobre Nosotros Section -->
    <section id="sobre-nosotros" class="h-screen bg-white flex justify-center items-center">
        <div class="container mx-auto px-4 text-center">
            <app-sobre-nosotros></app-sobre-nosotros>
        </div>
    </section>

    <!-- Video Section -->
    <section id="video" class=" flex justify-center items-center"
        style="background-color: rgba(234, 218, 0, 1)">
        <div class="container mx-auto px-4 text-center">
            <app-video></app-video>
        </div>
    </section>

    <!-- Formulario Section -->
    <section id="formulario" class="h-screen bg-white flex justify-center items-center">
        <div class="container mx-auto px-4 text-center">
            <app-formulario-participar></app-formulario-participar>
        </div>
    </section>
</main>
<app-footer></app-footer>