<section class="bg-white py-10">
    <div class="container mx-auto px-4 text-center">
      <!-- Título y descripción -->
      <!-- Contenido principal -->
      <div class="grid grid-cols-1 lg:grid-cols-4 gap-8 items-center">
        <!-- Botón con flecha -->
        <div>
          <h2 class="text-3xl font-bold mb-4">Ganadores del Sorteos</h2>
          <p class="text-lg text-gray-600 mb-8">¡Gana premios increíbles como!</p>
          
          <button class="px-6 py-3 bg-yellow-300 text-black font-semibold rounded hover:bg-yellow-400 transition flex items-center justify-center mx-auto">
            Participar
            <img src="icons/flecha.png" alt="Flecha" class="w-5 h-5 ml-2">
          </button>
        </div>
  
        <!-- Primer Premio -->
        <div class="space-y-4">
          <img src="img/ganadores/image.png" alt="Tele" class="mx-auto max-w-96 rounded-lg">
          <h3 class="text-xl font-bold">Jose Peña</h3>
          <p class="text-gray-700">Toyota Yaris</p>
        </div>
  
        <!-- Segundo Premio -->
        <div class="space-y-4">
          <img src="img/ganadores/image2.png" alt="Moto" class="mx-auto max-w-96 rounded-lg">
          <h3 class="text-xl font-bold">Ernesto Paula</h3>
          <p class="text-gray-700">Celular</p>
        </div>
  
        <!-- Tercer Premio -->
        <div class="space-y-4">
          <img src="img/ganadores/image3.png" alt="Efectivo" class="mx-auto max-w-96 rounded-lg">
          <h3 class="text-xl font-bold">Fernanda Torres</h3>
          <p class="text-gray-700">Carro Cero Kilometros</p>
        </div>
      </div>
    </div>
  </section>
  